<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="NetTaskManager_Service.TskMng">
                <endpoint address="ws" binding="wsHttpBinding" listenUriMode="Explicit"
                    bindingConfiguration="" name="wsEP1" contract="NetTaskManager_Service.ITskMng" />
                <endpoint address="mex" binding="mexHttpBinding"
                    bindingConfiguration="" name="mexEP2" contract="IMetadataExchange" />          
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8084/MyTskmng" />
                </baseAddresses>
              </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>