<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsEP1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8084/MyTskmng/ws" binding="wsHttpBinding"
                bindingConfiguration="wsEP1" contract="ServiceReference1.ITskMng"
                name="wsEP1">
                
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>